/* Fonts --- */

@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter_18pt-Regular.ttf);
}

/* Fonts --- */

/* Body --- */

body {
    margin: 0;
    padding: 0;
    background-image: url(../assets/images/backgroundimg.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}

/* Body --- */

/* Top Portion --- Location, Date, Search function, & Favorites button */

.location-container {
    margin: 50px;
}

.search-weather {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.favorites {
    display: flex;
    justify-content: end;
}

.fav-button button {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    background-color: rgb(255,234,44);
    border: 1px solid black;
    padding: 10px 25px;
}

.fav-button button:hover {
    cursor: pointer;
    background-color: rgb(252,241,96);
}

.fav-button button:active {
    background-color: rgb(254,207,2);
}

.input-bg {
    background-color: rgba(217, 217, 217, 0.650);
    padding: 20px 20px 25px 20px;
}

.input-bg input[type=text] {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    border: none;
    padding: 5px 15px ;
    width: 200px;
}

.location-container div div {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: black;
    text-align: center;
}

.location h1 {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: white;
    margin-top: 0;
    margin-bottom: 0;

}

.location h3 {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: end;
    margin: 0;
}

/* Center Portion --- Temperature, Weather Icon, Min & Max Temp */

.temp-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.temp-container .col-10 img {
    width: 200px;
    height: 200px;
}

.temp-main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 4;

    background-color: rgba(217, 217, 217, 0.650);
    grid-column: 2 / 3;

    padding: 15px;
}

.temp-main h2 {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    color: white;
    grid-column: 1 / 7;
    text-align: center;
    margin: 1px;
}

.temp-main img {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.temp-container h3 {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: white;
    grid-column: 2 / 7;
    grid-row: 2;

    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
}

.temp-min {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: black;
    grid-column: 3 / 4;
    grid-row: 3;
    text-align: center;
    align-self: flex-end;
    margin-top: 0;
}

.min {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: white;
    grid-column: 3 / 4;
    grid-row: 4;

    text-align: center;
    margin: 0;
}

.temp-max {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: black;
    grid-column: 5 / 6;
    grid-row: 3;
    text-align: center;
    align-self: flex-end;
    margin-top: 0;
}

.max {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: white;
    grid-column: 5 / 6;
    grid-row: 4;

    text-align: center;
    margin: 0;
}

.fav-container {
    background-color: rgba(217, 217, 217, 0.650);
    margin: 0px 50px 0px 200px;
    grid-column: 3 / 4;
}

.fav-container h2 {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: white;

    text-align: center;
    margin: 10px;
}

hr {
    margin-left: 25px;
    margin-right: 25px;
    border: .5px solid black;
}

.week-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 3;

    background-color: rgba(217, 217, 217, 0.650);
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 25px;

    margin-left: 50px;
    margin-right: 50px;
}

.week-container div {
    display: block;
    justify-content: center;
    text-align: center;
}

.week-container img {
    width: 100px;
    height: 100px;
}

.week-container p {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 1.1rem;

    margin: 5px;
}

.week-temp {
    color: white;
    font-size: 1rem;
}